extends layout

block append head
  //script(src='/socket.io/socket.io.js')
  script(type='text/javascript', href='/socket.io/socket.io.js')
  script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/main.js')

block content
  h1= title
  p Welcome to #{title}