extends layout

block content
  h1= title
  p Welcome to #{title}
  
  br 
  br
  
  button#test_movie_up up
  button#test_movie_down down
  button#test_movie_left left
  button#test_movie_right right
  
  br
  br
  button#test_ready ready
  button#test_start start