extends layout

block append head
  script(src='/socket.io/socket.io.js')
  script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/main.js')

block content
  div#chatroom
    div#host
    p -------------------
    ul#players
    p -------------------
    spam Is Ready?  
    input#isReady(type="checkbox")
    p -------------------
    button#start(disabled="disabled") Start
    p -------------------
    ul#messages
    
    form(action="")
      input#m(autocomplete="off")
      button send
    p -------------------
    button#to_win Show Win
    
  div#game_area
    h1 Game Area
    
  div#result_area
    h1 Result Area
    div#show_result
      div#result_msg
      div#result_time
    div
      button#restart Restart