canvas { 
	border: 3px solid red;
}

.battlefield {
	padding-left: 20%;
	padding-top: 10%;
}

.battleTable {
	margin-top: 50px;
	width:900px;
	border-style:solid;
	border-color:#ff0000;
}
.battle_area{
	margin: 0px auto;
	width:900px;
	padding-top:60px;
}
.moveXU {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
	
.moveXD {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.moveXL {
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
}

.moveXR {
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
}


.move {
	background-image:url('../images/origiri_sprites.png');
	width: 50px; 
	height: 50px;
}

.moveBlackD {	
	background-position: -0px -0px;
}

.moveBlackL {
	background-position: -0px -100px; 
}

.moveBlackR {
	background-position: -0px -200px; 
}

.moveBlackU {	
	background-position: -0px -300px;
}

.moveBlueD {	
	background-position: -0px -400px;
}

.moveBlueL {
	background-position: -0px -500px; 
}

.moveBlueR {
	background-position: -0px -600px; 
}

.moveBlueU {	
	background-position: -0px -700px;
}

.moveGreenD {	
	background-position: -0px -800px;
}

.moveGreenL {
	background-position: -0px -900px; 
}

.moveGreenR {
	background-position: -0px -1000px; 
}

.moveGreenU {	
	background-position: -0px -1100px;
}

.moveOrangeD {	
	background-position: -0px -1200px;
}

.moveOrangeL {
	background-position: -0px -1300px; 
}

.moveOrangeR {
	background-position: -0px -1400px; 
}

.moveOrangeU {	
	background-position: -0px -1500px;
}

.movePinkD {	
	background-position: -0px -1600px;
}

.movePinkL {
	background-position: -0px -1700px; 
}

.movePinkR {
	background-position: -0px -1800px; 
}

.movePinkU {	
	background-position: -0px -1900px;
}

.movePurpleD {	
	background-position: -100px -0px;
}

.movePurpleL {
	background-position: -100px -100px; 
}

.movePurpleR {
	background-position: -100px -200px; 
}

.movePurpleU {	
	background-position: -100px -300px;
}

.moveRedD {	
	background-position: -100px -400px;
}

.moveRedL {
	background-position: -100px -500px; 
}

.moveRedR {
	background-position: -100px -600px; 
}

.moveRedU {	
	background-position: -100px -700px;
}

.moveYellowD {	
	background-position: -100px -800px;
}

.moveYellowL {
	background-position: -100px -900px; 
}

.moveYellowR {
	background-position: -100px -1000px; 
}

.moveYellowU {	
	background-position: -100px -1100px;
}




#battleChatting {
  	position: absolute;
  	left: 2%;
  	top: 30%;
  	font-family: Comic Sans MS,arial,helvetica,sans-serif;
}

#battleChattingMessage {
	background-color: #FFFFFF;
	width: 130px;
  	height: 300px;
  	float: up;
  	margin-right:10px;
  	overflow: auto;
}

#enterBattleChattingMessage {
    clear:both;
	background-color: #FFFFFF;
	width: 130px;
  	height: 30px;
  	margin-top: 65px;
}

#send_battle_message_btn {
	
}

#battleList {
  	position: absolute;
  	right: 10%;
  	top: 30%;
  	font-family: Comic Sans MS,arial,helvetica,sans-serif;
}

#battlePlayerList {
	background-color: #FFFFFF;
	width: 130px;
  	height: 300px;
  	float: up;
  	margin-right:10px;
  	overflow: auto;
}