.battleTable {
	margin-top: 50px;
	width:900px;
	border-style:solid;
	border-color:#ff0000;
}
.battle_area{
	margin: 0px auto;
	width:900px;
	padding-top:60px;
}
.moveU {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
	
.moveD {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.moveL {
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
}

.moveR {
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
}

#battleChatting {
  	position: absolute;
  	left: 5%;
  	top: 80%;
}

#battleChattingMessage {
	background-color: #FFFFFF;
	width: 500px;
  	height: 100px;
  	float: left;
  	margin-right:10px;
  	overflow: auto;
}

#enterBattleChattingMessage {
    clear:both;
	background-color: #FFFFFF;
	width: 500px;
  	height: 30px;
  	margin-top: 65px;
}

#send_battle_message_btn {
	
}