body {
  background-image: url('../images/origiri_Background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 0;
}
li{
	margin-left:10px;
}
.index {
  padding: 70px;
  text-align: center;
  font-family: Comic Sans MS,arial,helvetica,sans-serif;
}

.index > p {
  font-size: 32px;
} 

.index > form {
  font-size: 20px;
}

#loginInfoSubmit {
  font-size: 20px;
}

#nameSpan, #colorSpan {
  font-size: 20px;
  font-family: Comic Sans MS,arial,helvetica,sans-serif;
}

.color{
	font-weight:bold;	
}

.chatroom > table {
  position: absolute;
  left: 15%;
  top: 15%;
  font-size: 20px;
  text-align: center;
  font-family: Comic Sans MS,arial,helvetica,sans-serif;
}
.start_btn {
  background-color: transparent; 
  border: 0;	
}
.start_img {
  position: absolute;
  left: 85%;
  top: 80%;
  content: url("../images/start_button.png");
}
.join{
  content: url("../images/join_arrow.png");
}
.escape{
  content: url("../images/escape_arrow.png");
}
.tableRight{
  width:500px;
}
.send_message_btn{
  content: url("../images/send_message_btn.png");
}
#friendsList {
  width: 150px;
  height: 300px;
}

#fightList {
  width: 150px;
  height: 300px;
}

.lroom {
  width: 350px;
  height: 265px;
  overflow: auto;
  background-color:#fff;
}
.lfriends {
  overflow: auto;
  background-color:#fff;
}
.lfight {
  overflow: auto;
  background-color:#fff;
}

#enterMessage {
  width: 300px;
  height: 30px;
}

.battle {
  position: absolute;
  left: 50%;
  top: 15%;
}